// Colors

$main-color: #ffffff;
$text-color: #1E3447;
$block-background: #F5F6F7;
$excretion-color: #0060AF;
$btn-background: #B7DFFF;
$btn-text: #001323;
$border-color: #D6DCE1;
$border-color2: #E4E7EA;
$opacity-color: #8BA2B3;
$color-range: #858B97;
$checkbox-color: #E4F3FF;

// Viewports

$descktop-width: 1024px;
$tablet-width: 768px;
